name: Build and publish n8n-ffmpeg

on:
  push:
    branches: ["main"]
  workflow_dispatch:

env:
  IMAGE_NAME: ghcr.io/${{ github.repository_owner }}/n8n-ffmpeg

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - uses: actions/checkout@v4

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: pbarrera86
          password: ${{ secrets.GHCR_PAT }}


      - name: Extract n8n version from Dockerfile
        id: ver
        run: |
          VER=$(grep -E '^FROM docker.n8n.io/n8nio/n8n:' Dockerfile | sed 's/FROM docker.n8n.io\/n8nio\/n8n://')
          echo "version=$VER" >> $GITHUB_OUTPUT

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: |
            ${{ env.IMAGE_NAME }}:${{ steps.ver.outputs.version }}
            ${{ env.IMAGE_NAME }}:latest
